#heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    padding-top: 30px;
    color: #3C4BCE;
}

#subheading2{
    display: none;
}

.rectstyle{
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.2);
    border-radius: 27px;
}

#imgstyle41{
    width: 286.46px;
    height: 180.21px;
}

#textstyle1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
}

#textstyle2{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20.7462px;
    color: #3C4BCE;
}


@media screen and (max-width: 990px) {
    #subheading1{
        display: none;
    }

    #subheading2{
        display: block;
    }
    #textstyle1{
        font-size: 15.6579px;
    }

    #textstyle2{
        font-size: 17.5429px;
    }
}
@media screen and (max-width: 550px){
    #textstyle2{
        padding-left: 70px;
    }
}

@media screen and (max-width: 400px){
    #imgstyle41{
    width: 200.46px;
    height: 100.21px;
}
    #textstyle2{
        padding-left: 0px;
    }   
}