#heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    padding-top: 30px;
    color: #3C4BCE;
}

#subheading2{
    display: none;
}

.rect1{
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.2);
  border-radius: 27px;
}

.rect2{
  width: 169px;
  height: 84px;
  border: 1.87px solid #4051DB;
  box-sizing: border-box;
  border-radius: 4.3299px;
  background: rgb(243, 240, 240, 0);
}

.rect2:focus{
  outline: none;
}

.rect3{
  width: 108px;
  height: 84px;
  border: 1.87px solid #FF5959;
  box-sizing: border-box;
  border-radius: 4.3299px;
  background: rgb(243, 240, 240, 0);
}

.rect3:focus{
  outline: none;
}


#profile1{
  width: 84px;
  height: 84px;
  background: url(image.png);
  filter: drop-shadow(0px 11.5341px 20.7614px rgba(0, 0, 0, 0.2));
}

#uploadimg{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 15.2338px;
  color: #4051DB;
}

#removeimg{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 15.2338px;
  color: #FF5959;
}

.name1{
  border:none;
  border-bottom: 2px solid #C0C0C0;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  background: rgb(243, 240, 240, 0);
}

.name1:focus{
  box-shadow: none !important;
  outline: none;
}

#name{
  font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #4E60F6;
}

#savebtn{
  width: 150px;
  height: 60px;
  background: #4E60F6;
  border-radius: 4.3299px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 33.2338px;
  color: #FFFFFF;
}

#cancelbtn{
  width: 180px;
  height: 60px;
  background: #FF5959;
  border-radius: 4.3299px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 33.2338px;
  color: #FFFFFF;
}

@media screen and (max-width: 990px) {
    #subheading1{
        display: none;
    }

    #subheading2{
        display: block;
    }
}
 
 /*Custom checkbox here*/

 .switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 18px;
	height: 18px;
	background: url(../images/sun.svg) white;
    background-size: 12px;
    background-repeat: no-repeat!important;
    background-position: center!important;
	border-radius: 90px;
	transition: 0.3s;
}

.switch input:checked + label {
	background: var(--purple);
}

.switch input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch label:active:after {
	width: 25px;
}

#bgimg1{
  position: fixed;
  bottom: 0px; 
  right: 0px; 
  width: 700px;
  height: 500px;
}

#bgimg2{
  position: fixed;
  bottom: 0px; 
  right: 0px; 
  width: 500px;
  height: 400px;
}

#bgimg3{
  position: fixed;
  width: 400px;
  height: 450px;
  bottom: 10%; 
  left: 0px; 
}

#bgimg4{
  position: fixed;
  width: 200px;
  height: 300px;
  top: 10%; 
  right: 0px; 
}

@media only screen and (max-width: 768px) {

.switch label {
	width: 33px;
	height: 15px;
	border-radius: 80px;
}

.switch label:after {
	top: 2px;
	left: 3px;
	width: 12px;
	height: 12px;
	background: url(../images/sun.svg) white;
    background-size: 8px;
}

.switch input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switch label:active:after {
	width: 15px;
}

}
@media screen and (max-width: 600px) {
	.rect2{
  width: 80px;
  height: 90px;
}

.rect3{
  width: 80px;
  height: 84px;
}
	#savebtn{
  width: 100px;
  height: 60px;
  font-size: 25.2338px;
}

#cancelbtn{
  width: 100px;
  height: 60px;
  font-size: 25.2338px;
}
}
